<%# Partial on vieweissä käytetty elementti, jota voidaan vapaasti käyttää viewin osana %>
<%# Tämä partial on navigointipalkki, joka voidaan renderöidä kaikkien viewien alkuun %>  
<header>
    <nav>
        <a href="/">Mybrary</a>
        <ul>
            <li><a href="/authors">Authors</a></li>
            <li><a href="/authors/new">Add Author</a></li>
        </ul>
    </nav>
</header>